<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %></title>

		<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
		<meta name="og:description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.subtitle %>">
		<meta property="og:image" content="/assets/icon.png" />

		<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
		<meta name="twitter:description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.subtitle %>">
		<meta name="twitter:image" content="/assets/icon.png">


		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/icon.png">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-7KW5H15CY7"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-7KW5H15CY7');
		</script>

		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
